*{
  font-family: 'Hind Siliguri', sans-serif;
}

body {
  /* background-color: rgb(255, 255, 255, 0.1); */
  /* background: url(https://img.freepik.com/free-vector/white-black-halftone-background_1409-1305.jpg?size=626&ext=jpg&ga=GA1.2.1397690407.1659639255) repeat; */
  background: url('../../../public/images/bg13.jpg') repeat;
  /* background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6) ), url(../../../public/images/bg9.jpg) repeat; */
  background-attachment: fixed;
}

#carouselExampleFade .carousel-item {
  height: 350px;
}

#carouselExampleFade .carousel-item img{  
  height: 100% !important;
}

.accordion-item-district:hover {
  text-align: center;
}

.dhaka-div-lg-heading {
  color: rgba(0, 0, 0, 0.7);
  background: #0c022a;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #0026ff 0px 0px 20px, #0026ff 0px 0px 30px, #0026ff 0px 0px 40px, #0026ff 0px 0px 50px, #0026ff 0px 0px 75px;
}

/* animation start */

.animation_title {
  background-color: transparent;
  /* text-shadow: #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FFF 0px 0px 20px, transparent 0px 0px 25px, transparent 0px 0px 30px, transparent 0px 0px 40px, transparent 0px 0px 50px, transparent 0px 0px 75px; */
}

.carousel-inner {
  position: relative;
}

.animation_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animation_text {
  text-align: center;
  margin: 100px;
  font-size:45px;
  vertical-align: middle;
  line-height: normal;
  padding-top: 2px;
  border:8px solid #0822b9;
  border-radius: 15px;
  font-family:Roboto Slab;
  width:350px;
  background: rgba(255,230,230,0.2);
  animation: transform 10s infinite cubic-bezier(0.5, 2, 0.5, 1);
}

@keyframes transform {
  0% {transform:rotate3d(0,0,0,0deg) translate(0px,0px)}
  10% {transform:rotate3d(5,5,5,10deg) translate(50px,0px)}
  20% {transform:rotate3d(60,-40,30,30deg)translate(0px,0px)}
  30% {transform:rotate3d(5,78,-50,30deg) translate(0px,50px)}
  40% {transform:rotate3d(45,29,5,60deg) translate(80px,-1px)}
  50% {transform:rotate3d(450,2,51,0deg) translate(50px,0px)}
  60% {transform:rotate3d(4,9,5,20deg)}
  70% {transform:rotate3d(45,29,5,-20deg) translate(40px,40px)}
  80% {transform:rotate3d(1,9,5,0deg)}
  90% {transform:rotate3d(05,7,5,-13deg) translate(50px,0px)}
  100% {transform:rotate3d(0,0,0,0deg)}
}

/* animation end */